<div class="container container-main">
	<div class="row">

		<div class="col-12">
			<h1 class="title-text">@ViewBag.Subtitle</h1>

			<h2>Cynthia Christiansen</h2> Need to paste this in from my notes.

			<h2>CiCi</h2>

			<h2>Maxwell Helix</h2>

			<h2>Max</h2>

			<h2>Mrs. White</h2>

			<h2>The Tech.</h2>
		</div>
	</div>

	<div class="row row-divider col-12"> </div>
</div>