@using SM.Utils;

<div class="container container-main">
	<div class="row">

		<div class="col-12">
			<h1 class="title-text">@ViewBag.Subtitle</h1>
		</div>

		<div id="nanoGallery1" class="col-12">
			@foreach (var fileName in FileUtil.FilterImagesInPath(Server, "~/images", "CiCiCoverSketch-*"))
			{
				// TODO - Might want to add that "endless scrolling" code here.

				<a href="~/Images/@fileName"
				   data-ngthumb="../../Images/thumbs/@fileName"
				   data-ngdesc="[Cover Sketch @FileUtil.ParseImageFileDate(fileName.Replace("CiCiCoverSketch-", string.Empty))]">@FileUtil.ParseImageFileName(fileName.Replace("CiCiCoverSketch-", string.Empty))</a>
			}
		</div>
	</div>

	<div class="row row-divider"> </div>
</div>