<h1 class="title-text">@ViewBag.Subtitle</h1>

<row class="col-md-6">
	<table class="table table-responsive table-striped">
		<tr>
			<td>Parker Smart</td>
			<td>Creator / Writer / Editor / Publisher / *.*</td>
            <td><a class="btn btn-default" href="~/CiCi/CreditParker">More &raquo;</a></td>
		</tr>
		<tr>
			<td>Zak Hennessey</td>
			<td>Plot / Co-Pencils</td>
            <td></td>
		</tr>
		<tr>
			<td>Jason Hall</td>
			<td>Pencils / Plot</td>
            <td></td>
		</tr>
		<tr>
			<td>Alp Altiner</td>
			<td>Inks / Finishes</td>
            <td></td>
		</tr>
		<tr>
			<td>Jay Leisten</td>
			<td>Inks / Finishes</td>
            <td></td>
		</tr>
		<tr>
			<td>Beth Sotelo </td>
			<td>Color</td>
            <td></td>
		</tr>
		<tr>
			<td>Monte Moore</td>
			<td>Painted Covers &amp; CiCi Logo</td>
            <td></td>
		</tr>
		<tr>
			<td>David Finch</td>
			<td>Pencils Alternate Cover #1</td>
            <td></td>
		</tr>
		<tr>
			<td>Joe Benitez</td>
			<td>Pencils Alternate Cover #2</td>
            <td></td>
		</tr>
		<tr>
			<td>Keu Cha</td>
			<td>Pencils Alternate Cover #3</td>
            <td></td>
		</tr>
		<tr>
			<td>Andy Park</td>
			<td>Pencils Alternate Cover #4</td>
            <td></td>
		</tr>
		<tr>
			<td>Joe Weems</td>
			<td>Inks Alternate Covers</td>
            <td></td>
		</tr>
		<tr>
			<td>Steve Firchow</td>
			<td>Colors Alternate Covers 1, 3, &amp; 4</td>
            <td></td>
		</tr>
		<tr>
			<td>Dan Kemp</td>
			<td>Colors Alternate Cover 2</td>
            <td></td>
		</tr>
		<tr>
			<td>Matthew Maguire</td>
			<td>Pencils Alternate Cover 1 (flip side)</td>
            <td></td>
		</tr>
	</table>
</row>