
<h1 class="title-text">@ViewBag.Title</h1>

<h3>Creator / Writer / Editor / Publisher</h3>

<div class="row origin-row">
    <div class="col-sm-1">
    </div>
    <div class="col-md-6">
        <h4><strong>Stream of Consciousness...</strong></h4>
        Why am I doing this?  I guess I've got a story to tell.  Well hopefully a bunch of them.
        Since I love comics I thought that this would be a great medium to tell them. 
        I've been putting these ideas and stories together since '90 or '91 so I've got reams I want to say. 
        But not to worry!  I won't clutter up the page with a bunch of babble.
        I'll go ahead and do that here on the web-site and leave the comic in a pristine state. 
        I feel that comic writers should try to stick to the story at hand and not go off on some tangent and cover up precious artwork that people have labored over for hours.
        In this case, I'd be paying for artwork that's just going to be covered up.  Not a very smart idea.
        My qualifications?  I don't really know.
        When I finally get around to telling people what I'm writing about, they say it's a good idea.
        Now whether or not I get my point across and tell a good story that remains to be seen.
        I read a bunch of comics and I know what I don't like.
    </div>
    <div class="col-md-3">
        <a href="~/Images/pds01.jpg">
            <img src="~/Images/pds01.jpg" class="img-responsive" />
            <img src="~/Images/zoom.png" style="position: relative; top: -40px; float: right;" />
        </a>
    </div>
</div>

<div class="row origin-row">
    <div class="col-sm-1">
    </div>
    <div class="col-md-6">
        <h4><strong>Origin of a Signature... (c 1996)</strong></h4>
        <p>
            I just started to doodle one day in my sketchbook and I was attempting to convert an old signature into a new one.
            I developed my old sig. waaay back in 3rd or 4th grade and of course back then I thought it was cool.
            Everybody else was just writing their names on their drawings, but I had a SIG.   Everybody say "Ooooo".
            You can kind of see in the bottom center of the scan below.  It's sort of an "S" stacked on top of a "P".
            I thought it needed updating...
        </p>
        <p>
            I thought it needed a little updating to bring it out of the dark ages...  Branching out from the center of the page I came up with just plain "PDS".
            Then I kind of mashed them together (over to the left) and I started to draw a fighter plane (just like I was in 3rd or 4th grade).
            I've learned a few things since then and drew the progression of sound waves breaking the sound barrier.  That's the tiny "BSB" in the scan.
            You should be able to find these diagrams in any physics books.  It shows a moving wave source and the interference patterns they create.
            ANYWAY...  Moving right along...  I took that form and clung to it for dear life.  Slowly but surely the windswept signature was born.  Tah-dah!  The one in the box.
        </p>
    </div>
    <div class="col-md-3">
        <a href="~/Images/pds00.jpg">
            <img src="~/Images/pds00.jpg" class="img-responsive" />
            <img src="~/Images/zoom.png" style="position: relative; top: -40px; float: right;" />
        </a>
    </div>
</div>

<div class="row origin-row">
    <div class="col-sm-1">
    </div>
    <div class="col-md-6">
        <h4><strong>Samples...  (c 1997)</strong></h4>
    </div>
</div>

<div class="row origin-row">
    <div class="col-sm-1">
    </div>
    <div class="col-md-3">
        <p>
            I didn't scan the entire image, because all of these images were taken from an oversized sketchbook.
            I didn't render her hair completely so I trimmed it in order to save space.  I mainly work from photos, just like most graphic artists.
            Shhh...  That's supposed to be a secret.  But I guess the secret is out if you talk to "the great" Alex Ross.
        </p>
    </div>
    <div class="col-md-2">
        <a href="~/Images/sample01.jpg">
            <img src="~/Images/sample01.jpg" class="img-responsive"/>
            <img src="~/Images/zoom.png" style="position: relative; top: -40px; float: right;" />
        </a>

        @*
            <img width="20" title="" aria-describedby="tooltip168425" style="position: relative; top: -10px; float: right;" src="/Images/Check Out My Stuff CO.png" data-original-title="Checked out by Raj R." data-toggle="tooltip" data-placement="bottom">*@

    </div>

    <div class="col-md-3">
        <p>
            Most of sketches are of faces, because when you work from photos you want to get the likeness down first.
            Sketching the rest of the body is easy.  Supposed to be Stephanie Seymour, but...  Eh, somewhat close.
        </p>
    </div>
    <div class="col-md-2">
        <a href="~/Images/sample02.jpg">
            <img src="~/Images/sample02.jpg" class="img-responsive" />
            <img src="~/Images/zoom.png" style="position: relative; top: -40px; float: right;" />
        </a>
    </div>
</div>


<div class="row origin-row">
    <div class="col-sm-1">
    </div>
    <div class="col-md-3">
        <p>
            Trying to render hair just seems to use up too much graphite so I just leave it alone.
            The wrinkles are hard too, but as long as you put the shadows where they're supposed to go I think they'll turn out fine.
            I must have just developed my signature "PDS" because it's HUGE.  I must have been practicing.
        </p>
    </div>
    <div class="col-md-2">
        <a href="~/Images/sample03.jpg">
            <img src="~/Images/sample03.jpg" class="img-responsive" />
            <img src="~/Images/zoom.png" style="position: relative; top: -40px; float: right;" />
        </a>
    </div>

    <div class="col-md-3">
        <p>
            The girl next door?  You wish.  I must have had time to do this one.  Probably over rendered though. The hair is still
            white so probably not.  LOL
        </p>
    </div>
    <div class="col-md-2">
        <a href="~/Images/sample04.jpg">
            <img src="~/Images/sample04.jpg" class="img-responsive" />
            <img src="~/Images/zoom.png" style="position: relative; top: -40px; float: right;" />
        </a>
    </div>
</div>


<div class="row origin-row">
    <div class="col-sm-1">
    </div>
    <div class="col-md-3">
        <p>
            Hopefully I'm showing some improvement and I'll surprise people with a pinup of my own.  Hey!
            I'm paying for the damn thing, I should be able to put in anything I want.
            Although I don't want to put anything in it that sucks, so I'll need some improvement. 
        </p>
    </div>
    <div class="col-md-2">
        <a href="~/Images/sample05.jpg">
            <img src="~/Images/sample05.jpg" class="img-responsive" />
            <img src="~/Images/zoom.png" style="position: relative; top: -40px; float: right;" />
        </a>
    </div>

    <div class="col-md-3">
        <p>
            After a few years of not really drawing I figured I'd attempt SOMETHING.  I came up with this.
            At this very moment (5/18/99) I'm pretty happy with it.  Even Monte said that it was pretty good.
            It's not really fair to compare my work to his, because he's in a totally different league.
            Definitely in the Majors and I'm still in High School ball fleshing out my pitching technique.
            I'm pretty sure that it's better than some of the stuff that's being published, so I think I've got a few people beat.
            I feel that I still need work on rendering metal and the hands need a little work.
            I kind of left the hair a little rough because I wanted to make sure I had a time limit on the sketch (2.5 hours).
            I didn't want to stay up all night trying to get the hair right.  Something definitely gets lost in the scan.
            I was happy enough about it to put it in the preview issue along with Rain's pinup.  That was only after I got the thumbs up from Monte.
            I figure I'm CiCi's biggest fan, so why not put my own artwork here. 
        </p>
    </div>
    <div class="col-md-2">
        <a href="~/Images/CiCiPinup-Smart_Parker_1997_01.jpg">
            <img src="~/Images/CiCiPinup-Smart_Parker_1997_01.jpg" class="img-responsive" />
            <img src="~/Images/zoom.png" style="position: relative; top: -40px; float: right;" />
        </a>
    </div>
</div>