@using SM.Utils;

<h1 class="title-text">@ViewBag.Subtitle</h1>

<div class="row article-row">

    <div class="col-sm-1"> </div>

    <div class="col-sm-8">
        <h2>Wraparound Covers (by Monte Moore)</h2>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default" href="~/CiCi/CoverSketches">Cover Sketches &raquo;</a>
    </div>
</div>

<div class="row article-row">
    <div class="col-sm-1"> </div>

    <div id="nanoGallery3" class="col-sm-10">
        <a href="~/Images/CiCi01.00.Cover-Moore.jpg"
           data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Moore.jpg">
            CiCi Miniseries #1 (Cover by Monte Moore)
        </a>

        <a href="~/Images/CiCi02.00.Cover-Moore.jpg"
           data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Moore.jpg">
            CiCi Miniseries #2 (Cover by Monte Moore)
        </a>

        <a href="~/Images/CiCi03.00.Cover-Moore.jpg"
           data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Moore.jpg">
            CiCi Miniseries #3 (Cover by Monte Moore)
        </a>

        <a href="~/Images/CiCi04.00.Cover-Moore.jpg"
           data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Moore.jpg">
            CiCi Miniseries #3 (Cover by Monte Moore)
        </a>
    </div>
</div>

<div class="row article-row">
    <div class="col-sm-1"> </div>

    <div class="col-sm-8">
        <h2>Alternate covers</h2>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default" href="~/CiCi/CoverSketches">Cover Sketches &raquo;</a>
    </div>
</div>

<div class="row article-row">
    <div class="col-sm-1"> </div>

    <div id="nanoGallery4" class="col-sm-10">
        <a href="~/Images/CiCi01.00.Cover-Finch.jpg"
           data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Finch.jpg">
            CiCi Miniseries #1 (Alt. Front Cover by David Finch)
        </a>

        <a href="~/Images/CiCi01.00.Cover-Marsilia.jpg"
           data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Marsilia.jpg">
            CiCi Miniseries #1 (Alt. Back Cover by Matthew Maguire)
        </a>

        <a href="~/Images/CiCi02.00.Cover-Benitez.jpg"
           data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Benitez.jpg">
            CiCi Miniseries #2 (Alt. Front Cover by Joe Benitez)
        </a>

        <a href="~/Images/CiCi02.00.Cover-Haley.jpg"
           data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Haley.jpg">
            CiCi Miniseries #2 (Alt. Back Cover by Matt Haley)
        </a>

        <a href="~/Images/CiCi03.00.Cover-Cha.jpg"
           data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Cha.jpg">
            CiCi Miniseries #3 (Alt. Front Cover by Keu Cha)
        </a>

        <a href="~/Images/CiCi03.00.Cover-Blaine.jpg"
           data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Blaine.jpg">
            CiCi Miniseries #3 (Alt. Back Cover by Patrick Blaine)
        </a>

        <a href="~/Images/CiCi04.00.Cover-Park.jpg"
           data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Park.jpg">
            CiCi Miniseries #4 (Alt. Front Cover by Andy Park)
        </a>

        <a href="~/Images/CiCi04.00.Cover-Reyes.jpg"
           data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Reyes.jpg">
            CiCi Miniseries #4 (Alt. Back Cover by Jimmy Reyes)
        </a>
    </div>
</div>

<div class="row article-row">
    <div class="col-sm-1"> </div>

    <div class="col-sm-8">
        <h2>Random Pinups</h2>
    </div>
    <div class="col-sm-3">
        <a class="btn btn-default" href="~/CiCi/Pinups">All Pinups &raquo;</a>
    </div>
</div>

<div class="row article-row">
    <div class="col-sm-1"> </div>

    <div id="nanoGallery1" class="col-sm-10">
        @foreach (var fileName in FileUtil.FilterImagesInPath(Server, "~/images", "CiCiPinup-*", 8))
            {
            <a href="~/Images/@fileName"
               data-ngthumb="../../Images/thumbs/@fileName"
               data-ngdesc="[Pinup @FileUtil.ParseImageFileDate(fileName.Replace("CiCiPinup-", string.Empty))]">@FileUtil.ParseImageFileName(fileName.Replace("CiCiPinup-", string.Empty))</a>
        }

    </div>
</div>
