<h1 class="title-text">@ViewBag.Title</h1>

<div class="row">
	<div class="col-md-3">
		<h2>Wraparound Covers (by Monte Moore)</h2>
	</div>
</div>

<div class="row">
	<div id="nanoGallery3">
		<a href="~/Images/CiCi01.00.Cover-Moore.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Moore.jpg"
		   data-ngdesc="[Monte Moore]">Issue 1</a>

		<a href="~/Images/CiCi02.00.Cover-Moore.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Moore.jpg"
		   data-ngdesc="[Monte Moore]">Issue 2</a>

		<a href="~/Images/CiCi03.00.Cover-Moore.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Moore.jpg"
		   data-ngdesc="[Monte Moore]">Issue 3</a>

		<a href="~/Images/CiCi04.00.Cover-Moore.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Moore.jpg"
		   data-ngdesc="[Monte Moore]">Issue 4</a>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<h2>Alternate covers</h2>
	</div>
</div>

<div class="row">
	<div id="nanoGallery4">
		<a href="~/Images/CiCi01.00.Cover-Finch.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Finch.jpg"
		   data-ngdesc="[Dave Finch]">Issue 1</a>

		<a href="~/Images/CiCi01.00.Cover-Marsilia.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Marsilia.jpg"
		   data-ngdesc="[Matthew Maguire]">Issue 1 (back)</a>

		<a href="~/Images/CiCi02.00.Cover-Benitez.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Benitez.jpg"
		   data-ngdesc="[Joe Benitez]">Issue 2</a>

		<a href="~/Images/CiCi02.00.Cover-Haley.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Haley.jpg"
		   data-ngdesc="[Matt Haley]">Issue 2 (back)</a>

		<a href="~/Images/CiCi03.00.Cover-Cha.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Cha.jpg"
		   data-ngdesc="[Keu Cha]">Issue 3</a>

		<a href="~/Images/CiCi03.00.Cover-Blaine.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Blaine.jpg"
		   data-ngdesc="[Patrick Blaine]">Issue 3 (back)</a>

		<a href="~/Images/CiCi04.00.Cover-Park.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Park.jpg"
		   data-ngdesc="[Andy Park]">Issue 4</a>

		<a href="~/Images/CiCi04.00.Cover-Reyes.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Reyes.jpg"
		   data-ngdesc="[Jimmy Reyes]">Issue 4 (back)</a>
	</div>


	<div class="row">
		<div class="col-md-3">
			<h2>Random Pinups</h2>
		</div>
	</div>

	<div class="row">
		<div id="nanoGallery1">
			<a href="~/Images/CiCiPinup-Allan_Jonnie.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Allan_Jonnie.jpg"
			   data-ngdesc="[Pinup 2002]">Jonnie Allan</a>

			<a href="~/Images/CiCiPinup-Altiner_Alp01.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Altiner_Alp01.jpg"
			   data-ngdesc="[Pinup 2002]">Alp Altiner</a>

			<a href="~/Images/CiCiPinup-Altiner_Alp02.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Altiner_Alp02.jpg"
			   data-ngdesc="[Pinup 2002]">Alp Altiner</a>

			<a href="~/Images/CiCiPinup-Mikellides_Vasilis01.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Mikellides_Vasilis01.jpg"
			   data-ngdesc="[Pinup 2002]">Vasilis Mikellides</a>

			<a href="~/Images/CiCiPinup-Mikellides_Vasilis02.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Mikellides_Vasilis02.jpg"
			   data-ngdesc="[Pinup 2002]">Vasilis Mikellides</a>

			<a href="~/Images/CiCiPinup-Mikellides_Vasilis03.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Mikellides_Vasilis03.jpg"
			   data-ngdesc="[Pinup 2002]">Vasilis Mikellides</a>

			<a href="~/Images/CiCiPinup-Nguyen_John.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Nguyen_John.jpg"
			   data-ngdesc="[Pinup 2002]">John Nguyen</a>

			<a href="~/Images/CiCiPinup-Nguyen_John02.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Nguyen_John02.jpg"
			   data-ngdesc="[Pinup 2002]">John Nguyen</a>

			<a href="~/Images/CiCiPinup-Nguyen_John03.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Nguyen_John03.jpg"
			   data-ngdesc="[Pinup 2002]">John Nguyen</a>

			<a href="~/Images/CiCiPinup-Patterson_Mike01.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Patterson_Mike01.jpg"
			   data-ngdesc="[Pinup 2002]">Mike Patterson</a>

			<a href="~/Images/CiCiPinup-Ramos_ReyRain.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Ramos_ReyRain.jpg"
			   data-ngdesc="[Pinup 2002]">Rey "Rein" Ramos</a>

			<a href="~/Images/CiCiPinup-Rhodes_JohnA.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Rhodes_JohnA.jpg"
			   data-ngdesc="[Pinup 2002]">John A Rhodes</a>

			<a href="~/Images/CiCiPinup-Smart_Parker01.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Smart_Parker01.jpg"
			   data-ngdesc="[Pinup 1999]">Parker Smart</a>

			<a href="~/Images/CiCiPinup-Smart_Parker02.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Smart_Parker02.jpg"
			   data-ngdesc="[Pinup 1999]">Parker Smart</a>

			<a href="~/Images/CiCiPinup-Smart_Parker03.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Smart_Parker03.jpg"
			   data-ngdesc="[Pinup 1999]">Parker Smart</a>

			<a href="~/Images/CiCiPinup-Williams_Vicki01.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Williams_Vicki01.jpg"
			   data-ngdesc="[Pinup 2000]">Vicki Williams</a>

			<a href="~/Images/CiCiPinup-Williams_Vicki02.jpg"
			   data-ngthumb="../../Images/thumbs/CiCiPinup-Williams_Vicki02.jpg"
			   data-ngdesc="[Pinup 2001]">Vicki Williams</a>
		</div>
	</div>