<h1 class="title-text">@ViewBag.Title</h1>

<div class="row">
	<div class="col-md-4">
		<h2>Story</h2>
		<p>
			What's it all about?  Read the story synopsis here.  Don't worry, nobody will give away the ending.  ;-)
		</p>
		<p><a class="btn btn-default" href="~/CiCi/Story">More &raquo;</a></p>
	</div>

	<div class="col-md-4">
		<h2>Characters</h2>
		<p>
			Check out the character bios.  Who's good, who's bad.
		</p>
		<p><a class="btn btn-default" href="~/CiCi/Characters">More &raquo;</a></p>
	</div>

	<div class="col-md-4">
		<h2>Credits</h2>
		<p>
			Everybody who worked on CiCi.
		</p>
		<p><a class="btn btn-default" href="~/CiCi/Credits">More &raquo;</a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Movie</h2>
		<p>
			The screenplay work has been going on since March of 2014. Not much to say about that at the moment. Looking to submit this to a studio.
		</p>
	</div>
</div>

<div class="row">
	<div class="col-md-3">
		<h2>Cover Gallery</h2>
	</div>
	<div class="col-md-2">
		<a class="btn btn-default" href="~/CiCi/Images">More Images &raquo;</a>
	</div>
</div>

<div class="row">
	<div id="nanoGallery3">
		<a href="~/Images/CiCi01.00.Cover-Moore.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Moore.jpg"
		   data-ngdesc="[Monte Moore]">Issue 1</a>

		<a href="~/Images/CiCi01.00.Cover-Finch.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Finch.jpg"
		   data-ngdesc="[Dave Finch]">Issue 1</a>

		<a href="~/Images/CiCi01.00.Cover-Marsilia.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Marsilia.jpg"
		   data-ngdesc="[Matthew Maguire]">Issue 1 (back)</a>

		<a href="~/Images/CiCi02.00.Cover-Moore.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Moore.jpg"
		   data-ngdesc="[Monte Moore]">Issue 2</a>

		<a href="~/Images/CiCi02.00.Cover-Benitez.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Benitez.jpg"
		   data-ngdesc="[Joe Benitez]">Issue 2</a>

		<a href="~/Images/CiCi02.00.Cover-Haley.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Haley.jpg"
		   data-ngdesc="[Matt Haley]">Issue 2 (back)</a>

		<a href="~/Images/CiCi03.00.Cover-Moore.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Moore.jpg"
		   data-ngdesc="[Monte Moore]">Issue 3</a>

		<a href="~/Images/CiCi03.00.Cover-Cha.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Cha.jpg"
		   data-ngdesc="[Keu Cha]">Issue 3</a>

		<a href="~/Images/CiCi03.00.Cover-Blaine.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Blaine.jpg"
		   data-ngdesc="[Patrick Blaine]">Issue 3 (back)</a>

		<a href="~/Images/CiCi04.00.Cover-Moore.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Moore.jpg"
		   data-ngdesc="[Monte Moore]">Issue 4</a>

		<a href="~/Images/CiCi04.00.Cover-Park.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Park.jpg"
		   data-ngdesc="[Andy Park]">Issue 4</a>

		<a href="~/Images/CiCi04.00.Cover-Reyes.jpg"
		   data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Reyes.jpg"
		   data-ngdesc="[Jimmy Reyes]">Issue 4 (back)</a>
	</div>
</div>