@using SM.Utils;

@{
    var fileList = FileUtil.FilterImagesInPath(Server, "~/images", "CiCiPinup-*");
}

<h1 class="title-text">@ViewBag.Title (@fileList.Count)</h1>

	<div class="row article-row">
		<div id="nanoGallery1">
			@foreach (var fileName in fileList)
			{
				// TODO - Might want to add that "endless scrolling" code here.

				<a href="~/Images/@fileName"
				   data-ngthumb="../../Images/thumbs/@fileName"
				   data-ngdesc="[Pinup @FileUtil.ParseImageFileDate(fileName.Replace("CiCiPinup-", string.Empty))]">@FileUtil.ParseImageFileName(fileName.Replace("CiCiPinup-", string.Empty))</a>
			}
		</div>
	</div>