@using SM.Utils;

@{
	var fileList = FileUtil.FilterImagesInPath(Server, "~/images", "CiCiPinup-*");
}
<div class="container container-main">
	<div class="row">

		<div class="col-12">
			<h1 class="title-text">@ViewBag.Subtitle (@fileList.Count)</h1>
		</div>

		<div id="nanoGallery1" class="col-12">
			@foreach (var fileName in fileList)
			{
				// TODO - Might want to add that "endless scrolling" code here.

				<a href="~/Images/@fileName"
				   data-ngthumb="../../Images/thumbs/@fileName"
				   data-ngdesc="[Pinup @FileUtil.ParseImageFileDate(fileName.Replace("CiCiPinup-", string.Empty))]">@FileUtil.ParseImageFileName(fileName.Replace("CiCiPinup-", string.Empty))</a>
			}
		</div>
	</div>

	<div class="row row-divider"> </div>
</div>