<h1 class="title-text">@ViewBag.Subtitle</h1>

<div class="row origin-row">
	<div class="col-sm-2">
        <a class="btn btn-default" href="http://project-nerd.com/2014/11/19/cici-1-4-comic-review/" target="_blank">project-nerd &raquo;</a>
    </div>
	<div class="col-md-6">
		You can read the review and synopsis given by project-nerd in 2014-11-19. They gave the series a <strong>"WORTH LOOK"</strong> rating.
		"CiCi is a science-fiction comic with a lot of promise.
		Adding a deep religious tie into the mix, the series has a chance of going directions that other series have not, giving Spilled Milk an opportunity to have a winning product on their hands."
	</div>
</div>

<h3>Summary / Synopsis</h3>

<div class="row origin-row">
	<img class="img-responsive" src="~/Images/CiCi01.pg06.Top.jpg" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		The basic premise is that CiCi is a clone.
		She’s not a clone in the sense that she was grown from an embryo and hatched out of a test tube.
		Well she <strong>WAS</strong> hatched out of test tube; a really <strong>BIG</strong> one.
		CiCi was made from an exact duplicate of her original, Cynthia Christiansen (kind of like the movie Multiplicity).
		Every molecule in her body was scanned by nano-machines.
		Their locations and composition were logged in a huge database.
		Several years later, CiCi was created after many fouled attempts using the same technology in reverse.
	</div>
</div>


<div class="row row-divider"> </div>

<div class="row origin-row">
	<img class="img-responsive" src="~/Images/CiCi02.pg05.Top.jpg" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		The nano-machines are able to break apart and fuse atoms at will in order to create the necessary structures in the body.
		Once every molecule is back in place, you’ve got an exact copy of the original with all the same physical features <strong>AND MEMORIES</strong> of the original.
		The fortunate (or unfortunate, depending on how you look at it) is that the clone does not know she’s a clone.
		As far as she’s concerned she just woke up from a nap.
	</div>
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<img class="img-responsive" src="~/Images/CiCi02.pg12.Top.jpg" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		Cynthia’s background is <strong>DEEPLY</strong> religious, and therefore CiCi is too.
		Once CiCi finds out she’s a clone she battles with her beliefs and wonders if there really is a soul, or for that matter, a God.
		How could she possibly have a soul if the original Cynthia is alive and well?
	</div>
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<img class="img-responsive" src="~/Images/CiCi01.pg14.Top.jpg" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		The Garbage Collector is one of the villains and it’s also a term from a programming language called L.I.S.P.
		This guy is relentless and was a product of the nano-machines too.
		In L.I.S.P. the garbage collector’s job is to collect unused memory and return it to the heap for reuse.
		The same goes for my garbage collector, although he hunts down clones so their resources can be reused.
		Pretty cool.  Pretty nerdy.
		Although with all those web-savvy kids these days, I think I’ll hit a pretty good niche.
	</div>
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<img class="img-responsive" src="~/Images/CiCi02.pg00.Mid.jpg" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		I really want people to grasp what this technology can do and how it can benefit, but also how really frightening it can be.
		But in the same light I want to go into how it will affect humanities greatest meme, Religion.
		Now maybe this book might turn out to be controversial, but I think that’s what will make it sell.
	</div>
</div>
