<h1 class="title-text">@ViewBag.Subtitle</h1>

<div class="row">
	<div class="col-sm-2">
		<img class="img-responsive" src="~/Images/Check Out My Stuff Logo.png" width="150" />
	</div>

	<div class="col-sm-5">
		<p>
			<strong>Check Out My Stuff (COMS)</strong>  The FREE library site where you can check out people's stuff and then CHECK it OUT!
			Do you let people borrow YOUR stuff too?  Upload it and then manage that list from COMS.
		</p>
	</div>

	<div class="col-sm-5">
		<p><a class="btn btn-default" href="http://www.CheckOutMyStuff.net" target="_blank">Check Out My Stuff &raquo;</a></p>
	</div>

</div>