<h1 class="title-text">@ViewBag.Subtitle</h1>

<div class="row">

	<div class="col-md-1">
		<img class="img-responsive" src="~/Images/Check Out My Stuff Logo.png" width="100" />
	</div>

	<div class="col-md-4">

		<h3>Check Out My Stuff</h3>
		<p>
			A library site so you can keep track of your stuff and let people borrow it.  OVER $3,000 SAVED!
		</p>
		<p><a class="btn btn-default" href="~/Apps/CheckOutMyStuff">More &raquo;</a></p>
	</div>

	<div class="col-md-1">
		<img class="img-responsive" src="~/Images/Idiot Driver 300x300.jpg" width="100" />
	</div>

	<div class="col-md-4">
		<h3>Idiot Driver</h3>
		<p>
			A twitter client to report idiots on the road. (Probably more of a rant about them.)
		</p>
		<p><a class="btn btn-default" href="~/Apps/IdiotDriver">More &raquo;</a></p>
	</div>
</div>

<div class="row">
	<div class="col-md-1">
		<img class="img-responsive" src="~/Images/Moovee Picker Cow128x128.png" width="100" />
	</div>

	<div class="col-md-4">
		<h3>Moovee Picker</h3>
		<p>
			A site that helps you pick your movies for the Fantasy Movie League.
		</p>
		<p><a class="btn btn-default" href="~/Apps/MooveePicker">More &raquo;</a></p>
	</div>
</div>