<h1 class="title-text">@ViewBag.Subtitle</h1>

<div class="row">
	<div class="col-sm-2">
		<img class="img-responsive" src="~/Images/Moovee Picker Cow128x128.png" />
	</div>

	<div class="col-sm-5">
		<p>
			<strong>Moovee Picker</strong>  A FREE site that helps you choose your movies for the <a href="https://fantasymovieleague.com/" target="_blank">Fantasy Movie League</a> game.
			The site aggregates data from 6 different sites and lets you choose your own box office numbers and the site will
			choose the most efficient movie lineup to maximize your box office earnings.
		</p>
	</div>

	<div class="col-sm-5">
		<p><a class="btn btn-default" href="http://mooveepicker.azurewebsites.net/" target="_blank">Moovee Picker &raquo;</a></p>
	</div>

</div>