<h1 class="title-text">@ViewBag.Subtitle</h1>

<div class="row">
	<img class="img-responsive" src="~/Images/MilkSpill.jpg" />
</div>

<div class="row">
	<div class="col-md-4">
		<h3>CiCi</h3>
		<p>
			What's it all about?  Read the story synopsis here.  Don't worry, nobody will give away the ending.  ;-)
		</p>
		<p><a class="btn btn-default" href="~/CiCi/Index">CiCi &raquo;</a></p>
	</div>

	<div class="col-md-4">
		<h3>Origin</h3>
		<p>
			The origin story of Spilled Milk.
		</p>
		<p><a class="btn btn-default" href="~/Home/Origin">More &raquo;</a></p>
	</div>

	<div class="col-md-4">
		<h3>Blog</h3>
		<p>
			Ranting and raving about comics, code, &amp; video games.
		</p>
		<p><a class="btn btn-default" href="https://spilledmilkcom.wordpress.com/" target="_blank">Blog &raquo;</a></p>
	</div>

</div>

<div class="row">

	<div class="col-md-4">
		<h3>News</h3>
		<p>
			Heading to the Denver Comic Con...
		</p>
		<p><a class="btn btn-default" href="~/Home/News">More &raquo;</a></p>
	</div>

	<div class="col-md-4">
		<h3>Applications</h3>
		<p>
			I write software for a living, which pays the bills and pays for ALL of this.
			I've written a few apps and sites for fun (including this one).
		</p>
		<p><a class="btn btn-default" href="~/Apps/Index">Apps &raquo;</a></p>
	</div>

	<div class="col-md-4">
		<h3>Legal</h3>
		<p>
			Story of protecting my intellictual property.
		</p>
		<p><a class="btn btn-default" href="~/Home/Legal">More &raquo;</a></p>
	</div>

</div>

<div class="row">

	<div class="col-md-4">
		<h3>Versions</h3>
		<p>
			Currently running ASP.Net MVC 5.0 on .Net 4.5 (web five dot oh?)
		</p>
		<p><a class="btn btn-default" href="~/Home/Versions">More &raquo;</a></p>
	</div>
</div>