<h1 class="title-text">@ViewBag.Subtitle</h1>

<h2>CiCi Miniseries</h2>


<div class="row">
    <div class="col-sm-6">
        <h4>
            The miniseries will be available through the publisher until his stash runs out. Hopefully by the end of September the miniseries will be available digitally through <a href="http://www.Comixology.com">Comixology</a>
            so you can have it in your "hands" immediately. Not a huge fan of digital comics, but that's for YOU to decide.
        </h4>

    </div>
    <div class="col-sm-6">
        <h4>
            This is a long and painful waiting game since the comic was accepted by Diamond Distributors back in 2002.  If you need single issues
            just shoot me an @Html.ActionLink("email", "Contact", "Home") and I'll get it to you.
        </h4>
    </div>
</div>

<div class="row row-divider"> </div>

<div class="row">
    <div class="col-sm-10">
        <h4>Fully Painted Set of wraparound covers (4 issues)</h4>

        <div id="nanoGallery3">
            <a href="~/Images/CiCi01.00.Cover-Moore.jpg"
               data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Moore.jpg"
               data-ngdesc="[Monte Moore]">Issue 1</a>

            <a href="~/Images/CiCi02.00.Cover-Moore.jpg"
               data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Moore.jpg"
               data-ngdesc="[Monte Moore]">Issue 2</a>

            <a href="~/Images/CiCi03.00.Cover-Moore.jpg"
               data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Moore.jpg"
               data-ngdesc="[Monte Moore]">Issue 3</a>

            <a href="~/Images/CiCi04.00.Cover-Moore.jpg"
               data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Moore.jpg"
               data-ngdesc="[Monte Moore]">Issue 4</a>
        </div>
    </div>

    <div class="col-sm-2">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="Q7ZD2K875WZWS">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

<div class="row row-divider"> </div>

<div class="row">
    <div class="col-sm-10">
        <h4>Alternate Set of "flip" covers (4 issues)</h4>

        <div id="nanoGallery4">
            <a href="~/Images/CiCi01.00.Cover-Finch.jpg"
               data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Finch.jpg"
               data-ngdesc="[Dave Finch]">Issue 1</a>

            <a href="~/Images/CiCi01.00.Cover-Marsilia.jpg"
               data-ngthumb="../../Images/thumbs/CiCi01.00.Cover-Marsilia.jpg"
               data-ngdesc="[Matthew Maguire]">Issue 1 (back)</a>

            <a href="~/Images/CiCi02.00.Cover-Benitez.jpg"
               data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Benitez.jpg"
               data-ngdesc="[Joe Benitez]">Issue 2</a>

            <a href="~/Images/CiCi02.00.Cover-Haley.jpg"
               data-ngthumb="../../Images/thumbs/CiCi02.00.Cover-Haley.jpg"
               data-ngdesc="[Matt Haley]">Issue 2 (back)</a>

            <a href="~/Images/CiCi03.00.Cover-Cha.jpg"
               data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Cha.jpg"
               data-ngdesc="[Keu Cha]">Issue 3</a>

            <a href="~/Images/CiCi03.00.Cover-Blaine.jpg"
               data-ngthumb="../../Images/thumbs/CiCi03.00.Cover-Blaine.jpg"
               data-ngdesc="[Patrick Blaine]">Issue 3 (back)</a>

            <a href="~/Images/CiCi04.00.Cover-Park.jpg"
               data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Park.jpg"
               data-ngdesc="[Andy Park]">Issue 4</a>

            <a href="~/Images/CiCi04.00.Cover-Reyes.jpg"
               data-ngthumb="../../Images/thumbs/CiCi04.00.Cover-Reyes.jpg"
               data-ngdesc="[Jimmy Reyes]">Issue 4 (back)</a>
        </div>
    </div>

    <div class="col-sm-2">
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="VQQRDM72SH3XC">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
    </div>
</div>

<div class="row">
    <div class="col-sm-10">
        <h4>Other online stores that carry the CiCi Miniseries:</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <a class="btn btn-default" href="http://www.milehighcomics.com/cgi-bin/backissue.cgi?action=list&title=16809091120&snumber=1">MileHighComics.com &raquo;</a>
    </div>

    <div class="col-sm-4">
        <a class="btn btn-default" href="http://www.mycomicshop.com/search?TID=429901">MyComicShop.com &raquo;</a>
    </div>


    <div class="col-sm-4">
        <a class="btn btn-default" href="https://www.atomicavenue.com/title/9142/CiCi-Miniseries">AtomicAvenue.com &raquo;</a>
    </div>
</div>