<div class="container container-main">

	<div class="row">

		<div class="col-12">
			<h1 class="title-text">@ViewBag.Subtitle</h1>
		</div>

		<div class="col-md-4">
			<h2>Parker Smart</h2>
			<h5>Creator / Writer / President</h5>
		</div>

		<div class="col-md-3">
			<a class="btn btn-default" href="~/CiCi/CreditParker">More &raquo;</a>
		</div>

		<div class="row row-divider col-12"> </div>

		<div class="col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="mailto://psmart@spilledmilk.com" target="_blank">
						📧
					</a>
				</div>

				<div class="col">A good way to contact me.  Not the BEST way, but I'm not putting my cell phone out here.</div>
			</div>
		</div>

		<div class="row row-divider col-12"> </div>

		<div class="col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="http://www.ParkerSmart.com" target="_blank">
						🌐
					</a>
				</div>
				<div class="col">Personal website (more contact info there, basically my web "presence" or online resume).</div>

			</div>
		</div>
	</div>

	<div class="row row-divider col-12"> </div>
</div>