<div class="container container-main">
	<div class="row">

		<div class="col-12">
			<h1 class="title-text">@ViewBag.Subtitle</h1>
			<h3>Lawyers &amp; Lawyers &amp; Lawyers:</h3>
		</div>

		<div class="col-md-4 col-sm-6 column-paragraph">
			In order to publish my own comic I needed to retain
			some lawyers.&nbsp; I talked with a guy who was already using some intellectual
			property/patent lawyers to file patents for his new inline-skate brake.&nbsp; He referred
			me to a company based in San Francisco that has an office here in Denver called
			&quot;Townsend and Townsend and Crew&quot; (The Crew).&nbsp; Contrary to popular belief,
			these people have been great!&nbsp; They referred me to another lawyer, who helped me set
			up Spilled Milk&#153;, Corp. (February 1996). &nbsp; It's all very easy to do, but it just
			takes time and money.&nbsp; Setting up the corporation is a safe way to create a business,
			because it separates your assets from the corporate assets and most importantly the
			corporation is liable for any slander or misconduct.
		</div>

		<div class="col-md-4 col-sm-6 column-paragraph">
			The Crew helped me register my company name
			nationally (the coveted &quot;circle R&quot; ®).&nbsp; This is a very long a painful process that takes
			more time (2 years) and more money ($2K). They were also glad to help me with my character
			name, CiCi. You guessed it... More time and more money. If you don't publish on time then
			you'll have to file for extensions.&nbsp; Need I point out the obvious?
			<br />
			The Crew showed me how to fill out copyright forms
			so I could send them to the national copyright office.&nbsp; This takes a few minutes and
			about $20.&nbsp; But you'll wait for your copyright certificate for a good six months.
			&nbsp; Sure you could mail copies to yourself for much less, but it's always nice to have
			an official copyright that will stand up better in court.
		</div>

		<div class="col-md-4 col-sm-6 column-paragraph">
			Many people might tell you that you don't have to
			go the route of registering your trademarks nationally.&nbsp; You already have immanent
			domain when you use the logo or name, and your artwork is copyrighted by default. &nbsp;
			This is great if you work in a vacuum and roll to the press rather quickly. &nbsp; This is
			not a good idea if you want to pitch this idea to other publishers and/or have other
			people work on the project.&nbsp; I would recommend investing the extra money to protect
			your investment and by doing this it shows other companies that you mean business.&nbsp;
			It shows that you are confident in your idea and want to see it through.
		</div>
	</div>

	<div class="row row-divider"> </div>

</div>