<div class="container container-main">
	<div class="row">

		<div class="col-12">
			<h1 class="title-text">@ViewBag.Subtitle</h1>
		</div>

		<div class="row origin-row">
			<div class="col-sm-3">
				<a class="btn btn-default" href="https://spilledmilkcom.wordpress.com/2017/07/05/denver-comic-con-2017/" target="_blank">Blog &raquo;</a>
			</div>
			<div class="col-sm-8">
				The latest blog post regarding the 2017 Denver Comic Con.  Yes, it still includes a rant, but not a full-blown rant.  It is a
				post of how I see the con as an exhibitor/artist.
			</div>
		</div>

		<div class="row-divider"> </div>

		<h3>Reviews</h3>

		<div class="row origin-row">
			<div class="col-sm-3">
				<a class="btn btn-default" href="http://project-nerd.com/2014/11/19/cici-1-4-comic-review/" target="_blank">project-nerd &raquo;</a>
			</div>
			<div class="col-sm-8">
				You can read the review and synopsis given by project-nerd in 2014-11-19. They gave the series a <strong>"WORTH LOOK"</strong> rating.
				"CiCi is a science-fiction comic with a lot of promise.
				Adding a deep religious tie into the mix, the series has a chance of going directions that other series have not, giving Spilled Milk an opportunity to have a winning product on their hands."
			</div>
		</div>

		<div class="row-divider"> </div>

		<h3>Interviews</h3>

		<div class="row origin-row">
			<div class="col-sm-3">
				<a class="btn btn-default" href="http://fanboyplanet.com/parker-smart-babes-guns-and-nanenes/" target="_blank">Fanboy Planet &raquo;</a>
			</div>
			<div class="col-sm-8">
				This interview was prior to the release of issue #3.  This is the "current" version of the interview and posted way back in 11-12-2002.
			</div>
		</div>

		<div class="row-divider"> </div>

		<div class="row origin-row">
			<div class="col-sm-3">
				<a class="btn btn-default" href="http://legacy.fanboyplanet.com/interviews/parkersmart.php" target="_blank">Fanboy Planet Old &raquo;</a>
			</div>
			<div class="col-sm-8">
				This interview was prior to the release of issue #3.  Graciously Fanboy Planet is hosting this on their legacy site, but I was
				still able to find it through a Bing search.
			</div>
		</div>
	</div>

	<div class="row row-divider"> </div>
</div>