<h1 class="title-text">@ViewBag.Subtitle</h1>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		The origin of Spilled Milk<sup>®</sup> was the result of
		a couple hours of doodling.&nbsp; I started out with the concept of an oil slick.&nbsp; I
		liked the rainbow patterns that change with the movement of oil and thought that this
		would make a cool animated logo (already thinking of a web-site).&nbsp; The outside of the
		logo would be circular and the letters that spelled out the name would float within the
		drop of oil. The name &quot;Oil Slick&quot; almost stuck, but I thought the word
		&quot;slick&quot; had good and bad connotations.&nbsp; Sometimes you can't go with your
		first try, even though it might turn out to be the best one. In this case, it wasn't.
	</div>
</div>


<div class="row row-divider"> </div>

<div>
	<img class="img-responsive" src="~/Images/oilslick.jpg" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		I then drew a barrel of oil spilling/spelling out
		the name &quot;Oil Spill&quot;, much like the Spilled Milk logo.&nbsp; The oil seemed too
		dark on the page and oil spills in general have a very dark feeling about them.&nbsp; You
		could see it coming from a mile away that &quot;Oil Spill&quot; was not going to make it.
	</div>
</div>

<div class="row row-divider"> </div>

<div>
	<img class="img-responsive" src="~/Images/oilspill.jpg" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		I liked the way the &quot;Oil Spill&quot; logo
		flowed across the page and needed something else that flowed.&nbsp; I thought about ink.
		&nbsp; Nope, too dark.&nbsp; Plus, spilling ink and comics don't mix very well.&nbsp; The
		old adage just popped into my head and &quot;Spilled Milk&quot; was born.
	</div>
</div>

<div class="row row-divider"> </div>

<div>
	<img class="img-responsive" src="~/Images/SpilledMilkSketch.jpg" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		The sketch above is a far cry from what was done
		next.&nbsp; I drew what was to be the final logo on a huge comic page and then inked it.
		&nbsp; I took it to Signal Graphics and they had some trouble scanning it in for me, but
		eventually they got me the letterhead and envelopes I wanted.&nbsp; They gave me the scans
		on disk and I was able to use them on this web-site before I got a scanner myself. &nbsp;
		If you saw the web-site when it first opened you saw a huge logo which took forever to
		load (just to see a logo).
	</div>
</div>

<div class="row row-divider"> </div>

<div>
	<img class="img-responsive" src="~/Images/MilkSpill.jpg" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		I was able to reduce the scan using
		Photoshop to create the logo that you see on each page.&nbsp; I took a copy of that and
		filled it in with black so all you could see is an silhouette.&nbsp; Then I reversed the
		image so it was a white outline on a black background.&nbsp; I brought this 512 x 512
		image into Bryce 4.0 and created a symmetric lattice, after applying some rounding in the
		editor.&nbsp; The rounding made some of the letters run together, but it looks a little
		more realistic that way.&nbsp; The result was a bulky logo so I created a floor (gray) and
		pushed the lattice down through the floor until it looked like Spilled Milk.
	</div>
</div>

<div class="row row-divider"> </div>

<div>
	<img class="img-responsive" src="~/Images/Spilled Milk Logo.png" />
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		It seems like there is much crying in the comic
		industry with company titles that are crying for the sun to come up and book titles that
		tell people not to cry.&nbsp; I figured I'm not crying here, so you just need to hurdle
		over the adversity that is thrown your way and use that momentum to keep going forward.
	</div>
</div>

<div class="row row-divider"> </div>

<div class="row origin-row">
	<div class="col-md-2 col-lg-3"> </div>
	<div class="col-md-8 col-lg-6">
		I've gotten great reactions to the name from the
		folks at the art supplies shop to Card Secure (now <strike>eHost</strike>,
		B2Bnow.com).&nbsp; People seem to remember it probably
		because they can associate it with something they already know.&nbsp; It makes
		most people laugh, and then they're stuck with it like a bad tune.&nbsp; The
		name should be a good contrast, because the comic should be fairly dark with a
		few light moments to bring the reader up for air once in a while.
	</div>
</div>