<h1 class="title-text">@ViewBag.Title</h1>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/SpilledMilk.com/commits/master" target="_blank">
			<img src="~/Images/GitHub-Mark-32px.png" />
		</a>
	</div>
	<div class="col-md-4">The complete history of this site code is on GitHub.</div>
</div>

<div class="row-divider"> </div>

<table class="table table-responsive version-table">
	<thead>
		<tr>
			<td>Version</td>
			<td>Date</td>
			<td>Description</td>
		</tr>
	</thead>
    <tr>
        <td>5.1.0</td>
        <td>2016-06-21</td>
        <td>Added Instagram button to the top menu.</td>
    </tr>
	<tr>
		<td>5.0.3</td>
		<td>2016-06-21</td>
		<td>Added Instagram button to the top menu.</td>
	</tr>
	<tr>
		<td>5.0.2</td>
		<td>2016-06-14</td>
		<td>Added a "Buy" menu option with a "Purchase" page. Constructed "Buy Now" buttons on PayPal.  I guess that's where all those transaction fees go; to the "tools" that make it easier to BUY (so PayPal can keep racking up the fees).</td>
	</tr>
	<tr>
		<td>5.0.1</td>
		<td>2015-10-18</td>
		<td>Now using Visual Studio 2015.  Upgraded about 20 NuGet packages.  Precompiled before publish.</td>
	</tr>
	<tr>
		<td>Five Dot Oh</td>
		<td>2015-05-19</td>
		<td>ASP.Net MVC 5.0 on .Net 4.5</td>
	</tr>
	<tr>
		<td>One Dot Oh NO</td>
		<td>2003-07-04</td>
		<td>Front Page and Frames (yuck)</td>
	</tr>
</table>